@import "common/animate.min.css";
@import "common/mint-ui.css";
@import "common/mobile";
@import "common/swiper-3.3.1.min.css";
@import "../assets/iconfont/iconfont.css";
// @import "http://at.alicdn.com/t/font_808107_49yerb69oiu.css";

$base_ft:120px;

html,
body,
#app,

.view {
    width: 100%;
    height: 100%;
    margin: auto;
    // background-color: #611414;
}

.box {
    // margin-bottom: 100px;
    //  padding-top: 70px;
}